@import "../../base-styles/mixins.scss";
@import "../../base-styles/variables.scss";

.main_container {
  margin-top: 45px;
}

.container {
  @include flex(center, space-between, row);

  &_right,
  &_left {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  div {
    padding: 15px 0;
  }

  h3 {
    font-family: "Ibarra Real Nova", serif;
    letter-spacing: -0.29px;
    line-height: 36px;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
  }

  p {
    font-family: "Public Sans", sans-serif;
    color: $greyishDarkBlue;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
  }
}
